@import '../SharedStyle';

//style nav

#sec1
{
    margin-top: 138px;
}
.title{
    font-family: $Tilte-font;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid $main-color;
}

.part p{
    width: 30px;
    height: 30px;
    background-color: $border-color;
}

.multistep hr{
    width: 100%;
    border-top: 2px solid $border-color
}

.multistep p:first-child{
    font-family: $Sec-font;
}

.subtitle{
    font-family: $Righteous;
    font-size: 1.25rem;
}

// ----------------------------------------

.row .col-3 .multistep .part p{
    background-color: $main-color ;
}

.row .col-3 .multistep p{
    color: $main-color ;
}

.row .col-3 .multistep hr{
    border-top: 2px solid $main-color ;
}

// --------------------------------------------------------------
button{
    @extend %btn-normal;
    &:hover
    {
        @extend  %btn-hover;
    }
}