@import '../SharedStyle.scss';

//style nav

#sec1
{
    margin-top: 138px;
}
.title{
    font-family: $Tilte-font;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid $main-color;
}

.part p{
    width: 30px;
    height: 30px;
    background-color: $border-color;
}

.multistep hr{
    width: 100%;
    border-top: 2px solid $border-color
}

.multistep p:first-child{
    font-family: $Sec-font;
}

.subtitle{
    font-family: $Righteous;
    font-size: 1.25rem;
}



// ----------------------------------

.form-group > label{
    font-family: $Righteous;
    font-size: 1.25rem;
}

label > img {
    width: 10%;
    height: 10%;
}


div > p{
    font-family: $Righteous;
}


.row .col-3:first-of-type  .multistep .part p{
    background-color: $main-color ;
}

.row .col-3:first-of-type  .multistep hr{
    border-top: 2px solid $main-color ;
}

.navigatebtn
{
    .btn{
        @extend %btn-normal;
        &:hover{
            @extend %btn-hover;
        }
    }
}
        
