<app-header-after></app-header-after>

<section id="sec1" class="container py-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h3 class="m-0 title">Post New Request</h3>
      </div>
      <div class="container w-100 py-2">
          <hr width="50" align="left">
      </div>

      <!-- form -->
      <form class="col-lg-8">
        <div class="form-group">
          <label for="formGroupExampleInput">Request title*</label>
          <input type="text" class="form-control " id="formGroupExampleInput" placeholder="E.g. 30-Minute SEO Consult, Virtual Tarot Reading">
          <span class="text-muted">Fully describe your post in the title. Limit it to one, single post. (0/35 max)</span>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Describe your post*</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="I need ..... "></textarea>
          <span class="text-muted">Explain your post in detail. Members should know exactly what to expect from your post. (0/20 min)</span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2"><img  src="../../assets/Img/P.png" alt=""> Points willing to give</label>
            <input type="number" class="form-control">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2"> How many times do you want help with this?</label>
            <!-- toggle -->
            <div class="toggle">
                <input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" />
                <label for="sizeWeight">Only Once</label>
                <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" />
                <label for="sizeDimensions">Multible times</label>
            </div>
        </div>
    </form>
    <div class="text-center col-12">
        <hr>
        <button class="btn px-4 py-3 mt-2">Post Request</button>
    </div>
    </div>
</section>
