<app-header-after></app-header-after>

  <section id="sec1" class="container py-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h3 class="m-0 title">My Requests</h3>
        <button class="btn px-3 py-2" (click)="redirectToAddReq()"> Add Request </button>
      </div>
      <div class="container w-100 py-2">
          <hr width="50" align="left">
      </div>
      <ul class="nav nav-tabs col-lg-12">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Completed</a>
          </li>
      </ul>
        <!-- cards 1-->
      <div class="col-sm-12 col-md-6 col-lg-6 pt-4">
          <div class="media border p-3 position-relative">
              <img class="mr-3 w-25" src="../../assets/Img/question-mark.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Light Language Energy</h5>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur natus fuga, praesentium fugit quas doloribus iure corporis.</p>
                  <div class="d-flex justify-content-between">
                    <span>Exchange</span>
                    <span>30 offers rec.</span>
                </div>
                <p class="text-right">25 May 2018</p>
              </div>
              <div class="overlay position-absolute align-items-center justify-content-center">
                  <i class="fa fa-eye " (click)="redirectToServDetail()"></i>
              </div>
          </div>
      </div>

        <!-- cards 2-->
      <div class="col-sm-12 col-md-6 col-lg-6 pt-4">
          <div class="media border p-3 position-relative">
              <img class="mr-3 w-25" src="../../assets/Img/question-mark.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Light Language Energy</h5>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur natus fuga, praesentium fugit quas doloribus iure corporis.</p>
                  <div class="d-flex justify-content-between">
                    <span>Cash</span>
                    <span>10 offers rec.</span>
                </div>
                <p class="text-right">25 Mar 2018</p>
              </div>
              <div class="overlay position-absolute align-items-center justify-content-center">
                  <i class="fa fa-eye " (click)="redirectToServDetail()"></i>
              </div>
          </div>
      </div>

        <!-- cards 3-->
      <div class="col-sm-12 col-md-6 col-lg-6 pt-4">
            <div class="media border p-3 position-relative">
                <img class="mr-3 w-25" src="../../assets/Img/question-mark.jpg" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Light Language Energy</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur natus fuga, praesentium fugit quas doloribus iure corporis.</p>
                    <div class="d-flex justify-content-between">
                      <span>Cash</span>
                      <span>15 offers rec.</span>
                    </div>
                    <p class="text-right">25 Feb 2018</p>
                </div>
                <div class="overlay position-absolute align-items-center justify-content-center">
                    <i class="fa fa-eye " (click)="redirectToServDetail()"></i>
                </div>
            </div>
      </div>
      
    </div>
  </section>


