@import '../SharedStyle';

#sec1
{
    margin-top: 138px;
}
.title{
    font-family: $Tilte-font;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid $main-color;
}


.card{
    height: 100%;
    border: 1.5px dashed $main-color;
    color: $main-color;
    font-family: $Righteous;
}