<!-- All Services -->
<app-header-after></app-header-after>
<main>
  <section id="sec1" class="container py-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h3 class="m-0 title">All Requests</h3>
      </div>
      <div class="container w-100 py-2">
        <hr width="50" align="left">
      </div>

      <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-one-request></app-one-request>
            </div>
            
          </div>
      </div>
      </div>
    </section>
</main>