<div class="card mb-3">
    <div class="card-header bg-transparent text-center">Graphene is requesting</div>
    <div class="card-body">
      <h5 class="card-title">Help Me with an Illustration?</h5>
      <div class="d-flex">
        <img class="rounded-circle mr-2" src="../../assets/img/person17.jpg" alt="">
        <p class="card-text ">I'm in need of an illustration (mock-up) of a cherry tree.
            This is going to be used for a crowdfunding campaign.
        </p>
      </div>
    </div>
    <div class="card-footer d-flex bg-transparent ">
      <h6 class="mr-2">Willing to pay 31</h6>
      <img class="mr-2" src="../../assets/img/P.png" alt="">
      <h6>/ 15reviews</h6>
    </div>
  </div>