  <div class="card border-0">
    <img class="card-img-top position-relative" src="../../assets/Img/article-04.png" alt="Card image cap">
    <img class="position-absolute rounded-circle w-25" src="../../assets/Img/person17.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Transcriber available</h5>
      <div class="d-flex service-details">
        <h6 class="mr-2">15 </h6>
        <img class="mr-2" src="../../assets/Img/P.png" alt="">
        <h6 >/19Reviews</h6>
      </div>
    </div>
  </div>
    