@import '../SharedStyle.scss';

.card-title{
    font-family: $Righteous;
}

.service-details{
    font-family: $Sec-font;
    font-weight: 700;
}
.card img:nth-child(2){
    top:95px;
    left:10px;
}

h6 + img {
    width: 6%;
    height: 6%;
}

