
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-homeaslogin></app-homeaslogin> -->
<!-- <app-post-request></app-post-request> -->
<!-- <app-home-befor-log-in></app-home-befor-log-in> -->
<!-- <app-profile></app-profile> -->
<!-- <app-my-balance></app-my-balance> -->
<!-- <app-review></app-review> -->
<!-- <app-prof-user-data></app-prof-user-data> -->
<!-- <app-myservices></app-myservices> -->
<!-- <app-service-details></app-service-details> -->
<!-- <app-post-request></app-post-request> -->



<router-outlet></router-outlet>
<app-footer></app-footer>
