@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Lobster+Two|Righteous');

$Tilte-font: 'Lobster Two', cursive;
$Righteous: 'Righteous', cursive;
$Sec-font: 'Alegreya Sans SC', sans-serif;