@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Lobster+Two|Righteous');

//fonts
$Tilte-font: 'Lobster Two', cursive;
$Righteous: 'Righteous', cursive;
$Sec-font: 'Alegreya Sans SC', sans-serif;

//colors
$main-color:#fbca03;
$White:#ffffff;
$border-color:#acacac;
$btn-hover-color:#363636;
$nav-color:#404951;
$face-color:#3b5998;
$Linked-color:#007bb6;

%HeaderBefore {
    background-color:$nav-color;
    // opacity: 0.722;
    box-shadow: 0px 5px 36.26px 12.74px rgba(96, 94, 94, 0.24);
    z-index: 11;
  }
  
  %btn-hover
  {
    background-color:$btn-hover-color;
    color: $main-color;
    transition-duration: 1s;
  }

  ::placeholder 
  {
      color:#acacac;
  }

  %form{
    .form-control
    {
        width: 300px;
        border-color:$main-color; 
        background-color: transparent;
        &:focus
        { 
            color: $main-color;
            border-color: $main-color;
            box-shadow: 0 0 0.4rem $main-color;
        }
    }

    .searchIco
    {
        background-image: url(../../assets/Icon/searchIcon.png);
        background-color:$nav-color;
        border: none;
        background-size: cover;
        z-index: 13;
        right: 11px;
        width: 25px;
        height: 25px;
        &:focus
        {
            box-shadow:none;
        }
    }
    
}

%navbar-toggler
        {
         border: 1px solid $main-color;
         background-color: transparent;
         &:hover
         {
            background-color:$main-color;
         } 
        i{
            color:$main-color;
            &:hover
            {
                color:$nav-color;
            }
        }
        }

//h4
        %title-lineCenter
        {
            font-family: $Tilte-font;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: 55px;
              top: 102px;
              left: 48%;
              border-top: 2px solid $main-color;
            }
        }