<header>
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand animated flip" href="#"><img src="assets/logo-8.png" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-align-justify"></i>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="row d-flex justify-content-md-center">
              <form class="form-inline position-relative my-2 my-lg-0 ml-4 mr-lg-5">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search for service here.." aria-label="Search">
                  <button class="btn position-absolute searchIco"></button>
              </form>
          <li class="nav-item ml-5 my-3">
            <a class="nav-link ico notify" href="#"><img src="assets/Icon/notification.png"/></a>
          </li>
          <li class="nav-item ml-4 my-3">
            <a class="nav-link ico msg" href="#"><img src="assets/Icon/mail.png"/></a>
          </li>
          <li class="nav-item ml-4 my-3">
            <a class="nav-link" href="#">
              <div class="numCoin text-center">
                <span>25</span>
                <img src="assets/Icon/point.png"/>
              </div>
            </a>
           </li>
           <li class="nav-item dropdown ml-4">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img src="assets/Img/ppic.jpg"  class="rounded-circle img-fluid mr-2"/><span> Ahmed Ghoraba</span>
              </a>
              <div class="dropdown-menu text-center mt-4" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Service</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Request</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Setting</a>
              </div>
           </li>

          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>