<app-header-after></app-header-after>

<main>
    <section id="sec1" class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card my-5">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-header w-100">Chat</h5>
                        <button  class="btn px-4">Make Deal</button>
                    </div>
                    <div class="media p-3">
                            <img class="mr-3 w-25 rounded-circle" src="../../assets/Img/person17.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mt-0">Fikri Ruslandi </h5>
                                    <div class="bg-success" style="width:20px;height: 20px;"></div>
                                </div>
                              Ko, Kumaha Project anu eta ... <small>1min</small>
                            </div>
                    </div>
                    <div class="media p-3">
                        <img class="mr-3 w-25 rounded-circle" src="../../assets/Img/person17.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="mt-0">Fikri Ruslandi </h5>
                                <div class="bg-success" style="width:20px;height: 20px;"></div>
                            </div>
                            Ko, Kumaha Project anu eta ... <small>1min</small>
                        </div>
                    </div>
                    <div class="media p-3">
                            <img class="mr-3 w-25 rounded-circle" src="../../assets/Img/person17.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mt-0">Fikri Ruslandi </h5>
                                    <div class="bg-success" style="width:20px;height: 20px;"></div>
                                </div>
                              Ko, Kumaha Project anu eta ... <small>1min</small>
                            </div>
                    </div>
                    <div class="media p-3">
                            <img class="mr-3 w-25 rounded-circle" src="../../assets/Img/person17.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mt-0">Fikri Ruslandi </h5>
                                    <div class="bg-success" style="width:20px;height: 20px;"></div>
                                </div>
                              Ko, Kumaha Project anu eta ... <small>1min</small>
                            </div>
                    </div>
                    <div class="media p-3">
                            <img class="mr-3 w-25 rounded-circle" src="../../assets/Img/person17.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mt-0">Fikri Ruslandi </h5>
                                    <div class="bg-success" style="width:20px;height: 20px;"></div>
                                </div>
                              Ko, Kumaha Project anu eta ... <small>1min</small>
                            </div>
                    </div>
                    <div class="media p-3">
                            <img class="mr-3 w-25 rounded-circle" src="../../assets/Img/person17.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mt-0">Fikri Ruslandi </h5>
                                    <div class="bg-success" style="width:20px;height: 20px;"></div>
                                </div>
                              Ko, Kumaha Project anu eta ... <small>1min</small>
                            </div>
                    </div>
                    <div class="media p-3">
                            <img class="mr-3 w-25 rounded-circle" src="../../assets/Img/person17.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mt-0">Fikri Ruslandi </h5>
                                    <div class="bg-success" style="width:20px;height: 20px;"></div>
                                </div>
                              Ko, Kumaha Project anu eta ... <small>1min</small>
                            </div>
                    </div>
                  </div>
            </div>


            <div class="col-lg-8">
                <div class="d-flex mt-5 justify-content-between">
                    <div class="d-flex">
                        <h4 class="pr-3 mb-0">Abu Abdullah Nugraha</h4>
                        <div class="bg-success rounded-circle" style="width:15px;height: 15px;"></div>
                    </div>
                    
                    <div>
                        <i class="fa fa-phone pr-3"></i>
                        <i class="fa fa-camera pr-3"></i>
                        <i class="fa fa-ellipsis-v pr-3"></i>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="d-flex align-items-center resize">
                        <img src="../../assets/Img/person17.jpg" class=" rounded-circle resize mr-3" alt="">
                        <span class="border"> Well done !! When can i get final copy</span>
                    </div>
                    <div class="d-flex align-items-center resize ml-auto">
                        <span class="border"> Well done !! When can i get final copy</span>
                        <img src="../../assets/Img/person17.jpg" class=" rounded-circle resize ml-3" alt="">
                    </div>
                </div>
                <div>
                        <div class="d-flex align-items-center resize">
                            <img src="../../assets/Img/person17.jpg" class=" rounded-circle resize mr-3" alt="">
                            <span class="border"> Well done !! When can i get final copy</span>
                        </div>
                        <div class="d-flex align-items-center resize ml-auto">
                            <span class="border"> Well done !! When can i get final copy</span>
                            <img src="../../assets/Img/person17.jpg" class=" rounded-circle resize ml-3" alt="">
                        </div>
                </div>
                <div class="mb-4">
                        <div class="d-flex align-items-center resize">
                            <img src="../../assets/Img/person17.jpg" class=" rounded-circle resize mr-3" alt="">
                            <span class="border"> Well done !! When can i get final copy</span>
                        </div>
                        <div class="d-flex align-items-center resize ml-auto">
                            <span class="border"> Well done !! When can i get final copy</span>
                            <img src="../../assets/Img/person17.jpg" class=" rounded-circle resize ml-3" alt="">
                        </div>
                </div>
                <div class="d-flex align-items-center">

                    <input type="text" class="form-control w-75 mr-4"><i class="fa fa-check-square"></i>
                </div>
            </div>
        </div>
    </section>
</main>