<app-header-before></app-header-before>
<main>
  <section id="Sec1">
    <div class="container d-flex justify-content-center align-items-start h-100 flex-column">
      <div class="text-center mt-5">
        <h2 class="bef-aft mb-4">WELCOME TO THE</h2>
        <h2>HAT W KHOD ECONOMY</h2>
        <button type="button" class="btn btnJoin mt-5">JOIN US NOW</button>
      </div>
    </div>
  </section>

  <section id="Sec2">
    <div class="container pt-5 mb-5">
      <h2 class="text-center pt-5">All Services</h2>
      <div class="row mt-5 pt-5">
        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/custom-coding.png" class="img1" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Programmers</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/designer.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Designer & Creative</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/writer.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Writers</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/consultation.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Virtual Assistants</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/breakfast.png" class="img7" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Fun & LifeStyle</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/support.png" class="img7" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Customer Service</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/line-chart.png" class="img7" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Accountants & Consultants</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/diagram.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Sales & Marketing</h5>
        </div>
      </div>
    </div>
  </section>


  <!-- what customer say -->
  <section id="Sec3">
    <div class="container pt-5">
      <h2 class="text-center pt-5">What members are saying !</h2>
      <div class="row mt-5 p-5 mb-3">

          <div id="carouselExampleIndicators" class="carousel slide px-5" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-6"><img src="../../assets/Img/1.jpg" alt="Second slide"></div>
                    <div class="col-md-6">
                      <p class="pb-3">Finally! An economy for people like me:
                        not a ton of mo</p>
                        <p class="pb-3">Service over salaries? Count me in! I am 
                            very interested in participating in an
                            alternative economy that provides an 
                            exit from the current dollar-dominated 
                            corporate market. I have years of 
                            experience designing in various industries
                            I have worked full time as an designer
                            for over a decade, and I can’t be more 
                            excited to share my talents with a 
                            community </p>
                            <h5>- Francisco, Packaging Designer</h5>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6"><img class="" src="../../assets/Img/2.jpg" alt="Second slide"></div>
                        <div class="col-md-6">
                          <p class="pb-3">Finally! An economy for people like me:
                            not a ton of mo</p>
                            <p class="pb-3">Service over salaries? Count me in! I am 
                                very interested in participating in an
                                alternative economy that provides an 
                                exit from the current dollar-dominated 
                                corporate market. I have years of 
                                experience designing in various industries
                                I have worked full time as an designer
                                for over a decade, and I can’t be more 
                                excited to share my talents with a 
                                community </p>
                                <h5>- Francisco, Packaging Designer</h5>
                          </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6"><img class="" src="../../assets/Img/5.jpg" alt="Second slide"></div>
                        <div class="col-md-6">
                          <p class="pb-3">Finally! An economy for people like me:
                            not a ton of mo</p>
                            <p class="pb-3">Service over salaries? Count me in! I am 
                                very interested in participating in an
                                alternative economy that provides an 
                                exit from the current dollar-dominated 
                                corporate market. I have years of 
                                experience designing in various industries
                                I have worked full time as an designer
                                for over a decade, and I can’t be more 
                                excited to share my talents with a 
                                community </p>
                                <h5>- Francisco, Packaging Designer</h5>
                          </div>
                      </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

      </div>
    </div>
  </section>
  <!-- to services -->
  <section id="Sec4">
    <div class="container pt-5">
      <h2 class="text-center pt-5">Top Services</h2>
      <div class="row mt-5 pt-5 mb-3">
        <div class="col-sm-6">
          <div class="card border-0">
            <img class="card-img-top" src="../../assets/Img/article-04.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                <h5 class="mr-2">20</h5>
                <img class="mr-2" src="../../assets/Img/P.png" alt="">
                <h5>/ 113 Reviews</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <img class="card-img-top" src="../../assets/Img/article-04.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                <h5 class="mr-2">20</h5>
                <img class="mr-2" src="../../assets/Img/P.png" alt="">
                <h5>/ 113 Reviews</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0">
            <img src="../../assets/Img/article-04.png" class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                <h5 class="mr-2">20</h5>
                <img class="mr-2" src="../../assets/Img/P.png" alt="">
                <h5>/ 113 Reviews</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <img class="card-img-top" src="../../assets/Img/article-04.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                <h5 class="mr-2">20</h5>
                <img class="mr-2" src="../../assets/Img/P.png" alt="">
                <h5>/ 113 Reviews</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Top User -->
  <section id="Sec5" class="container py-5">
    <div class="container pt-5 mb-5 pb-5">
      <h2 class="text-center pt-5">Top Users</h2>
      <div class="row mt-5 pt-5 mb-3">
        <div class="col-lg-4 col-md-6 col-sm-12 ">
          <app-top-users></app-top-users>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <app-top-users></app-top-users>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <app-top-users></app-top-users>
        </div>
      </div>
    </div>
  </section>
</main>
