<app-header-before></app-header-before>
<main>
  <section id="Sec1">
    <div class="container d-flex justify-content-center align-items-start h-100 flex-column">
      <div class="text-center mt-5">
        <h2 class="bef-aft mb-4">WELCOME TO THE</h2>
        <h2>HAT W KHOD ECONOMY</h2>
        <button type="button" class="btn btnJoin mt-5">JOIN US NOW</button>
      </div>
    </div>
  </section>

  <section id="Sec2">
    <div class="container pt-5 mb-5 pb-5">
      <h2 class="text-center pt-5">All Services</h2>
      <div class="row mt-5 pt-5">
        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/custom-coding.png" class="img1" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Programmers</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/designer.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Designer & Creative</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/writer.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Writers</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/consultation.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Virtual Assistants</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/breakfast.png" class="img7" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Fun & LifeStyle</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/support.png" class="img7" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Customer Service</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/line-chart.png" class="img7" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Accountants & Consultants</h5>
        </div>

        <div class="col-sm-6 col-md-3 text-center outerB py-5">
          <img src="../../assets/Icon/diagram.png" alt="programmer" />
          <div class="line mx-auto my-4"></div>
          <h5>Sales & Marketing</h5>
        </div>
      </div>
    </div>
  </section>


  <section id="Sec3">
    <div class="container pt-5 mb-5 pb-5">
      <h2 class="text-center pt-5">Top Services !</h2>
      <div class="row mt-5 pt-5 mb-3">
        <div class="col-sm-6">
          <div class="card border-0">
            <img class="card-img-top" src="../../assets/Img/article-04.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                  <h5 class="mr-2">20</h5>
                  <img class="mr-2" src="../../assets/Img/P.png" alt="">
                  <h5>/ 113 Reviews</h5>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <img class="card-img-top" src="../../assets/Img/article-04.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                  <h5 class="mr-2">20</h5>
                  <img class="mr-2" src="../../assets/Img/P.png" alt="">
                  <h5>/ 113 Reviews</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0">
            <img src="../../assets/Img/article-04.png" class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                <h5 class="mr-2">20</h5>
                <img class="mr-2" src="../../assets/Img/P.png" alt="">
                <h5>/ 113 Reviews</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <img class="card-img-top" src="../../assets/Img/article-04.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Service Name</h5>
              <div class="d-flex service-details">
                  <h5 class="mr-2">20</h5>
                  <img class="mr-2" src="../../assets/Img/P.png" alt="">
                  <h5>/ 113 Reviews</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
