<app-header-after></app-header-after>
  <section id="sec1" class="container py-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h3 class="m-0 title">Service Details</h3>
      </div>
      <div class="container w-100 py-2">
        <hr width="50" align="left">
      </div>

      <div class="col-lg-8 card border mb-2">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="subtitle mb-0  py-2">Dog Training Q&A</h4>
          <span>20 <img class="coin" src="../../assets/Img/P.png" alt=""></span>
        </div>
        <hr class="m-0 mb-2">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <p>Reviews
              <span><i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star pr-2"></i>
                <span class="pr-2">(3)</span>
                <span>2 reviews</span>
              </span>
          </p>
          <span>
              <i class="fa fa-linkedin border p-2 mr-2"></i>
              <i class="fa fa-facebook border p-2"></i>
          </span>          
        </div>
        <div class="card border-0" >
            <img class="card-img-top" src="../../assets/Img/event-marker.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias aliquam doloribus facere laborum porro eligendi soluta tempora at earum quasi veniam mollitia, ex exercitationem tenetur unde odio itaque hic ipsum!</p>
            </div>
        </div>


        <app-review></app-review>
        <app-review></app-review>
        <app-review></app-review>
        <app-review></app-review>

      </div>

      <div class="col-lg-4 mb-2">
          <div class="card">
            <p>Interested? Introduce yourself to Sara and describe what you’re looking for.</p>
            <button class="btn w-75 mx-auto"> Start Conversation</button>
            <span class="text-muted text-center"> Sara typically responds within 8 hours</span>
          </div>
          <div class="card my-2 text-center">
              <div class="border w-25 "><p class="m-0 text-center">Online</p></div>
              <div><img class="rounded-circle w-50 py-2" src="../../assets/Img/person17.jpg" alt="">
              <h4>Sara Amgad</h4></div>
              <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatibus at similique asperiores commodi maiores quis, eligendi illum praesentium illo vero error deleniti nostrum ipsum dolor ducimus explicabo officiis animi.</p>
            </div>
            <div class="card my-2">
              <h4 class="subtitle mb-0 pl-2 py-2">Sara's other service</h4>
              <hr class="m-0">
              <div class="card m-2">
                  <img class="card-img-top position-relative" src="../../assets/Img/article-04.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Transcriber available</h5>
                    <div class="d-flex service-details">
                      <h6 class="mr-2">15 </h6>
                      <img class="mr-2 coin2" src="../../assets/Img/P.png" alt="">
                      <h6>/19Reviews</h6>
                    </div>
                  </div>
              </div>
              <div class="card m-2">
                  <img class="card-img-top position-relative" src="../../assets/Img/article-04.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Transcriber available</h5>
                    <div class="d-flex service-details">
                      <h6 class="mr-2">15 </h6>
                      <img class="mr-2 coin2" src="../../assets/Img/P.png" alt="">
                      <h6>/19Reviews</h6>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card my-2">
                <h4 class="subtitle mb-0 pl-2 py-2">Sara's Request</h4>
                <hr class="m-0">
                <div class="card m-2 mb-3">
                    <div class="card-header bg-transparent text-center">Graphene is requesting</div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Help Me with an Illustration?</h5>
                      <div class="d-flex">
                        <img class="rounded-circle mr-2 profile" src="../../assets/Img/person17.jpg" alt="">
                        <p class="card-text ">I'm in need of an illustration (mock-up) of a cherry tree.
                            This is going to be used for a crowdfunding campaign.
                        </p>
                      </div>
                    </div>
                    <div class="card-footer d-flex bg-transparent ">
                      <h6 class="mr-2">Willing to pay 31</h6>
                      <img class="mr-2 coin2" src="../../assets/Img/P.png" alt="">
                      <h6>/ 15reviews</h6>
                    </div>
                  </div>
            </div>
      </div>


    </div>
  </section>
