<div class="card text-center mb-3" >
  <div><img class="card-title-top rounded-circle w-50 m-3" src="../../assets/Img/person17.jpg" alt="Card image cap"></div>
  <div class="card-body">
    <h5 class="card-title">Osama Amgad</h5>
    <span><i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i></span>
    <p class="card-text">3200 <img src="../../assets/Img/P.png" alt=""></p>
    <p>Cairo</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quis magni cupiditate dolor repudiandae excepturi consequuntur consequatur ducimus molestiae inventore temporibus laborum veniam earum aliquam, qui quod doloremque aspernatur reprehenderit?</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><button class="btn" (click)="redirectToProfile()"> VIEW PROFILE</button></li>
  </ul>
</div>
