@import '../SharedStyle';

.card:hover {
    border: 1px solid $main-color;
    transition-duration: 1s;
}

i{
    color: $main-color;
}

div > img{
        border: 2px solid $border-color;
}

.card:hover .card-title-top{
    border: 2px solid $main-color;
    transition-duration: 1s;
}

button{
    @extend  %btn-normal;
}

button:hover{
    @extend %btn-hover;
}

p > img{
    width: 6%;
    height: 6%;
}

.card-body{
    h5{
        font-family: $Righteous;
    }
}