


<div class="card text-center my-3">
        <div class="on-off ml-auto mr-3 mt-2">
          <img src="../../assets/Icon/online.png" />
          <span>Online</span>
        </div>
        <div>
          <img class="card-title-top rounded-circle w-50 m-3" src="../../assets/Img/ppic.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <div class="row w-50 mx-auto">
              <h5 class="card-title">HuDa SaLaH</h5>
              <u class="ml-auto">
                <a href="#" class="card-link">Edit</a>
              </u>
          </div>          
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
          <p class="Bio mb-3"> My main goal is to take part in interesting projects and create a quality product I can be proud of</p>
          <ul class="text-left p-0">
            <li class="pb-2">From</li>
            <li class="pb-2">Member Science</li>
            <li class="pb-2">Avg Response Time</li>
            <li class="pb-2">Recent Delivery</li>
            <li>Levels</li>
          </ul>

          <ul class="text-left">
            <li class="pb-2">Alex</li>
            <li class="pb-2">19Jan/2018</li>
            <li class="pb-2">5H</li>
            <li class="pb-2">4 Months</li>
            <li>1</li>
          </ul>
        </div>

        <div class="dropdown-divider"></div>
        <ul class="list-group list-group-flush my-3">
          <li class="text-left pl-5">Status</li>
          <li class="text-left pl-5 ml-5">
            <!-- toggle -->
            <div class="toggle ml-auto d-inline">
              <input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" />
              <label for="sizeWeight">
                <img src="../../assets/Icon/online.png" />
              </label>
              <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" />
              <label for="sizeDimensions">
                <img src="../../assets/Icon/offline.png" />
              </label>
            </div>
          </li>
        </ul>
      </div>
