@import "../SharedStyle.Scss";

header
{
    
    font-family: $Sec-font;
    font-weight: bolder;
    nav
    {
        @extend %HeaderBefore;
        .navbar-brand
        {
            img
            {
                width: 75px;
            }
        }

        .navbar-toggler
        {
          @extend %navbar-toggler;
        }

        .nav-item
        {
            a{
                font-size: 20px;
                color: $White;
                &:hover{
                    color:$main-color;
                    transition-duration: 1s;
                }
            }
        }

        form{
            @extend %form;            
        }
    }

   
    .signUpBtn
    {
        background-color: $main-color;
        font-family: $Sec-font;
        font-size: 20px;
        font-weight: bolder;
        width: 98px;
    }
}
