@import "../SharedStyle.Scss";

header
{
    
    font-family: $Sec-font;
    font-weight: bolder;
    nav
    {
        @extend %HeaderBefore;
        .navbar-brand
        {
            img
            {
                width: 95px;
            }
        }

        .nav-item
        {
            a{
                font-size: 20px;
                color: $White;
                &:hover{
                    color:$main-color;
                    transition-duration: 1s;
                }
            }
        }

        form{
            .form-control
            {
                width: 300px;
                border-color:$main-color; 
                background-color: transparent;
                &:focus
                { 
                    color: $main-color;
                    border-color: $main-color;
                    box-shadow: 0 0 0.4rem $main-color;
                }
            }

            .searchIco
            {
                background-image: url(../../assets/Icon/searchIcon.png);
                background-color:$nav-color;
                border: none;
                background-size: cover;
                z-index: 13;
                right: 11px;
                width: 25px;
                height: 25px;
                &:focus
                {
                    box-shadow:none;
                }
            }
            
        }
    }

   
    .signUpBtn
    {
        background-color: $main-color;
        font-family: $Sec-font;
        font-size: 20px;
        font-weight: bolder;
        width: 98px;
    }
}
