<header>
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand animated flip" (click)="redirectToHome()">
        <img src="assets/logo-8.png"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="row d-flex justify-content-center">
          <form class="form-inline position-relative my-2 my-lg-0 ml-5">
              <input class="form-control" type="search" placeholder="Search for service here.." aria-label="Search">
              <button class="btn position-absolute searchIco"></button>
            </form>
            </div>
        <ul class="navbar-nav ml-auto">
          <div class="row d-flex justify-content-center">            
            <li class="nav-item p-2">
              <a class="nav-link" (click)="redirectToHowItWork()">How It work!</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" (click)="redirectToSignIn()">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redirectToSignUp()">
                <button class="btn signUpBtn">SIGNUP</button>
              </a>
            </li>

          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
