<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
    <a class="navbar-brand animated flip" href="#"><img src="assets/logo-8.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <form class="form-inline position-relative my-2 my-lg-0 ml-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for service here.." aria-label="Search">
          <button class="btn position-absolute searchIco"></button>
      </form>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item p-2">
          <a class="nav-link" href="#">How It work!</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><button class="btn signUpBtn">SIGNUP</button></a>
          </li>
      </ul>
    </div>
  </div>
  </nav>
</header>
